.list-md {
  padding: 0;
}

span {
  color: gray;
  font-size: 20px;
  padding-left: 10px;
}

.edit-item {
  background-color: cornflowerblue;
  font-size: 26px;
  width: 100px;
}

.checkmark-done {
  background-color: rgb(24, 184, 24);
  width: 100px;

  .checkmark {
    font-size: 26px;
  }
}
